body {
	font-family: 'Lato', sans-serif;
	background-color: #ccc;
}

h1 {
	text-align: center;
}

#game-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: #0011ff;
	width: 312px;
	height: 312px;
	margin: 0 auto;
	border: 1px solid black;
}

.square {
	flex: 0 0 100px;
	height: 100px;
	background-color: #00bfff;
	margin-top: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
}

.top-row {
	margin-top: 0;
}

.message {
	padding-top: 10px;
	font-size: 1.5em;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.error {
	color: #ff0000;
}

.reset-button-div {
	margin: 10px auto;
	width: 150px;
	text-align: center;
}

#reset {
	width: 100px;
	height: 50px;
	background-color: #ff0;
	font-size: 1em;
}

.line {
	border-top: 4px solid rgba(0,0,0,.5);
	position: absolute;
	z-index: 1;
}

.diagonal {
	width: 315px;
	top: 160px;
	left: 200px;
}

.right-diagonal
{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.left-diagonal
{
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.vertical {
	height: 252px;
	top: 38px;
}

.left {
	left: 250px;
}

.middle-vertical {
	left: 356px;
}

.right {
	left: 462px;
}

.horizontal {
	width: 252px; /* 20 px extra on each side */
	left: 234px;
}

.top {
	top: 58px;
}

.middle-horizontal {
	top: 164px;
}

.bottom {
	top: 270px;
}
